body, a, a:visited {
  font: 0.8em "Arial";
  color: #5b6368;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.dropdown:hover {
  border: 2px solid red;
}

header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  width: 95%;
  margin: 7px 0 0 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  width: 95%;
  margin: 7px 0 0 10px;
}

header div a, footer div a {
  padding: 5px 10px;
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#logo {
  transform: scale(0.5);
  margin-top: 150px;
}

#icon {
  width: 20px;
  vertical-align: middle;
}

#buttons {
  display: flex;
}

button {
  display: flex;
  justify-content: space-between;

  margin: 0.5em;
  padding: 10px;
  border: 0;
  border-radius: 5px;

  background: #f1f3f4;
  font-size: 0.85em;
}

input{
  border: solid 2px #dcdcdc;
  border-radius: 20px;
  padding: 10px;
  margin: 2%;
  width: 50%;
}