body {
  font: 0.8em "Arial";
  color: #5b6368;
  text-decoration: none;
}

#searchform {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

#logo {
  width: 92px;
  height: 30px;
}

input {
  border: 1px solid #dde7ed;
  border-radius: 20px;
  height: 30px;
  width: 300px;
}

.icon {
  width: 20px;
  vertical-align: middle;
}

#topnav {
  display: flex;
  justify-content: space-between;
  margin-right: 30%;
  margin-left: 10%;
}

#topnav img {
  height: 15px;
}

#topnav a {
  font: 1em "Arial";
  color: #5b6368;
  text-decoration: none;
  padding: 5px;
  margin: 20px 0;
}

#topnav a:hover {
  color: blue;
}

#results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 30%;
  margin-left: 10%;
  padding: 10px;
}

.result_content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  border: 2px solid red;
}

.title {
  font-size: 1.25em;
}

.resultslinks {
  color: green;
}

.toplinks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;
  margin-left: 25px;
  margin-top: 10px;
}

.blurb {

}

.toplinkblurb {

}

#knowledgecard {

}