body {
    font: 0.75em "arial";
    text-align: center;
  }
  
  #gameboard {
    background: yellow;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    padding: 15px;
  }
  
  button {
    border: 0px;
    border-radius: 5px;
    background: gray;
    color: white;
    width: 75px;
    height: 30px;
    margin: 10px;
    transition-duration: 0.5s
  }

  button:hover {
      background: white;
      color: black;
      border: 1px solid gray;
  }

  #running {
    font: 1.5em "arial";
  }